.box-search-job {
    background: url(../img/bg-search-left-opacity.webp), url(../img/bg-search-right.webp), linear-gradient(90deg, #212f3f, #00b14f);
    background-position: 0 0, 100% 0, 50%;
    background-repeat: no-repeat;
    background-size: auto 340px, auto 340px, 100% 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    padding: 24px 0 16px;
}
#main {
    background: #f4f5f5;
}
.ctn-breadcrumb-detail {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
}
.ctn-breadcrumb-detail a {
    color: #00b14f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .175px;
    line-height: 22px;
}
.ctn-breadcrumb-detail i {
    align-items: center;
    color: #212f3f;
    display: flex;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 16px;
    justify-content: center;
    line-height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
}
.job-detail__body, .job-detail__header, .job-detail__wrapper {
    display: flex;
    gap: 24px;
}
.job-detail__wrapper {
    flex-direction: column;
}
.job-detail__body-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 67%;
}
.job-detail__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
}
.job-detail__info--title a {
    color: #263a4d;
}
.text-highlight, .text-highlight:hover {
    color: #00b14f;
}
.job-detail__info--title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #263a4d;
    display: -webkit-box;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 28px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.job-detail__box--left {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* gap: 36px; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 24px;
    width: 100%;
}
.job-detail__info--section-icon {
    align-items: center;
    background: linear-gradient(11deg,#00bf5d,#00907c);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    justify-content: center;
    padding: 10px;
    width: 40px;
}
.job-detail__info--section-icon svg {
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}
.job-detail__info--section-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.job-detail__info--section-content-title {
    color: #263a4d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .14px;
    line-height: 22px;
}
.job-detail__info--section-content-value {
    color: #212f3f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .175px;
    line-height: 22px;
}
.job-detail__info--sections {
    align-items: center;
    display: flex;
}
.job-detail__info--section {
    align-items: center;
    display: flex;
    gap: 16px;
}

.job-detail__info--sections>* {
    width: 50%;
}
.job-detail__info--deadline {
    align-items: center;
    background: #f2f4f5;
    border-radius: 4px;
    color: #263a4d;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 6px;
    letter-spacing: .14px;
    line-height: 22px;
    padding: 2px 8px 2px 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.job-detail__info--deadline--icon {
    padding: 4px;
}
.job-detail__info--deadline--icon i {
    color: #7f878f;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    height: 16px;
    justify-content: center;
    line-height: 20px;
    text-align: center;
    width: 16px;
}
.job-detail__info--actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 4px;
}
.job-detail__info--actions-button.button-primary {
    background: #00b14f;
    color: #fff;
    width: calc(100% - 144px);
}
.job-detail__info--actions-button {
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    gap: 6px;
    height: 40px;
    justify-content: center;
    letter-spacing: .175px;
    line-height: 22px;
    padding: 8px 16px 8px 12px;
}
.job-detail__info--actions-button.button-white {
    background: #fff;
    border: 1px solid #99e0b9;
    color: #00b14f;
    width: 130px;
}
.job-detail__info--actions-button .button-icon {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 4px;
    width: 24px;
}
.job-detail__info--actions-button .button-icon i {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.job-notsave #unsave-job, .job-saved #save-job {
    display: none;
}
.box-save-job {
    text-align: center;
    margin-top: 20px;
}
.box-save-job {
    margin-top: 0!important;
}
.job-detail__information-detail--actions-button .button-white {
    align-items: center;
    background: #fff;
    border: 1px solid #99e0b9;
    border-radius: 6px;
    color: #00b14f;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    letter-spacing: .175px;
    line-height: 22px;
    padding: 8px 16px;
    width: 118px;
}
/* right detail */
.job-detail__body-right {
    align-items: center;
    background: #f4f5f5;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* width: calc(33% - 24px); */
}
.job-detail__company {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
}
.job-detail__box--right {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}
.job-detail__company--information {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.job-detail__company--information-item.company-name {
    margin-bottom: 12px;
}
.job-detail__company--information-item {
    align-items: flex-start;
    display: flex;
    gap: 16px;
}
.job-detail__company--information-item.company-name .company-logo {
    align-items: center;
    background: #fff;
    border: 1px solid var(--gray-10,#e9eaec);
    border-radius: 8px;
    display: flex;
    height: 88px;
    justify-content: center;
    padding: 7.04px;
    width: 88px;
}
.job-detail__company--information-item.company-name .company-logo img {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    height: 73.92px;
    justify-content: center;
    -o-object-fit: contain;
    object-fit: contain;
    width: 73.92px;
}
.job-detail__company--information-item.company-name .company-name-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    width: calc(100% - 106px);
}
.job-detail__company--information-item.company-name .name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    color: #212f3f;
    display: -webkit-box;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.16px;
    line-height: 24px;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.company-subdetail-label {
    align-items: center;
    display: flex;
    gap: 8px;
}
.job-detail__company--information-item.company-scale {
    margin-bottom: 8px;
}
.job-detail__company--information-item {
    align-items: flex-start;
    display: flex;
    gap: 16px;
}
.job-detail__company--information-item.company-address .company-title, .job-detail__company--information-item.company-scale .company-title {
    align-items: center;
    color: #7f878f;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    letter-spacing: .14px;
    line-height: 22px;
    width: 88px;
}
.job-detail__company--information-item.company-address .company-value, .job-detail__company--information-item.company-scale .company-value {
    color: #212f3f;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .14px;
    line-height: 22px;
    width: calc(100% - 104px);
}
.job-detail__company--information-item {
    align-items: flex-start;
    display: flex;
    gap: 16px;
}
.job-detail__company--information-item.company-address .company-title, .job-detail__company--information-item.company-scale .company-title {
    align-items: center;
    color: #7f878f;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    letter-spacing: .14px;
    line-height: 22px;
    width: 88px;
}
.job-detail__company--information-item.company-address .company-value {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.job-detail__company--link {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}
.job-detail__company--link a {
    color: #00b14f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .175px;
    line-height: 22px;
}
.job-detail__company--link i {
    color: #00b14f;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 16px;
    line-height: 20px;
    text-align: center;
    width: 16px;
}
.job-detail__information-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.job-detail__information-detail--title {
    border-left: 6px solid #00b14f;
    color: #212f3f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 28px;
    margin: 0;
    padding-left: 10px;
}
.job-detail__information-detail--content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.job-detail__information-detail--content .job-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.job-detail__information-detail--content .job-description__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.job-detail__information-detail--content .job-description__item--content * {
    font-family: unset!important;
    width: unset!important;
}
.job-detail__information-detail--content .job-description__item h2, .job-detail__information-detail--content .job-description__item h3 {
    color: #212f3f;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.16px;
    line-height: 24px;
    margin: 0;
}
.job-detail__information-detail--actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.job-detail__information-detail--actions-button {
    align-items: center;
    display: flex;
    gap: 12px;
}
.job-detail__information-detail--actions-button .button-icon {
    display: none!important;
}
.job-detail__information-detail--actions-button .button-primary {
    align-items: center;
    background: #00b14f;
    border: unset;
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    letter-spacing: .175px;
    line-height: 22px;
    padding: 8px 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.job-detail__information-detail--report {
    align-items: flex-start;
    background: #f4f5f5;
    border-radius: 5px;
    color: #212f3f;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    letter-spacing: .14px;
    line-height: 22px;
    padding: 8px;
}
.job-detail__information-detail--report-icon {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 2px;
    width: 20px;
}
.job-detail__information-detail--report-icon i {
    color: #00b14f;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
}
.color-green {
    color: #00b14f!important;
}
.job-detail__box--left .box-job-similar {
    padding: 0;
}
.box-job-similar {
    background: #fff;
    border-radius: 8px;
    padding: 20px 24px;
}
.box-job-similar .box-title {
    border-left: 6px solid #00b14f;
    color: #212f3f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 28px;
    margin: 0 0 20px;
    padding-left: 10px;
}
.box-job-similar .box-content {
    margin-bottom: 20px;
    padding: 0!important;
}
.job-detail__box--left .box-job-similar .box-content .row {
    margin: 0;
}
.box-job-similar .job-body {
    display: flex;
}
.box-job-similar #box-relate-jobs {
    width: 100%;
}
.job-list-default .job-item-default.bg-highlight {
    background-color: #f2fbf6;
}
.job-list-default .job-item-default {
    background: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    grid-template-columns: 1fr 5fr;
    margin: auto auto 16px;
    padding: 16px;
    position: relative;
    transition: all .1s;
}
.job-list-default .job-item-default .avatar {
    align-items: center;
    aspect-ratio: 1/1;
    background: #fff;
    background-color: #fff;
    border: 1px solid #e9eaec;
    border-radius: 8px;
    display: flex;
    height: 100px;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 8px;
    position: relative;
    width: 100px;
}
.job-list-default .job-item-default .avatar a {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.job-list-default .job-item-default .avatar img {
    border-radius: 5px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.job-list-default .job-item-default .body {
    display: inline-grid;
    gap: 12px;
    width: 100%;
}
.job-list-default .job-item-default .body-content {
    min-width: 11vh;
}
.job-list-default .job-item-default .body .title-block {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.job-list-default .job-item-default .body .title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #212f3f;
    display: -webkit-box;
    flex: 1;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 4px;
    margin-right: 24px;
    margin-top: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
.job-list-default .job-item-default .body .title a {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.job-list-default .job-item-default .body .title a {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.job-list-default .job-item-default .body .company {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #424e5c;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.job-list-default .job-item-default .body .title-block .box-right {
    flex-shrink: 0;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    text-align: right;
}
.job-list-default .job-item-default .body .title-salary {
    align-items: center;
    color: #00b14f;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
    justify-content: flex-end;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}
.job-list-default .job-item-default .body .info {
    align-items: flex-end;
    -moz-column-gap: 24px;
    column-gap: 24px;
    display: flex;
    justify-content: space-between;
}
.job-list-default .job-item-default .body .label-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.job-list-default .job-item-default .body .label-content label {
    background: #e9eaec;
    border-radius: 3px;
    color: #212f3f;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 4px 8px;
}
.job-detail__body-right--box-general .box-general-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job-detail__body-right--box-general .box-general-group {
    align-items: center;
    display: flex;
    gap: 16px;
}
.job-detail__body-right--box-general .box-general-group-icon {
    align-items: center;
    background: #00b14f;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    justify-content: center;
    padding: 10px;
    width: 40px;
}
.job-detail__body-right--box-general .box-general-group-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.job-detail__body-right--item {
    width: 100%;
}
.job-detail__body-right--box-general .box-title {
    margin-bottom: 16px;
    margin-top: 0;
}
.job-detail__body-right--item .box-title {
    color: #212f3f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 28px;
}
/* end right detail */
@media screen and (min-width: 1200px) {
    #frm-search-job .group .group-item-experience,
    #frm-search-job .group .group-item-salary {
        background: #fff;
        border-radius: 6px !important;
        min-height: 56px;
        width: 200px;
    }
}